<h1><%= @flat[0]["name"] %></h1>
<img src=<%= @flat[0]["imageUrl"] %> alt="" width="300px" height="auto">
<p><%= @flat[0]["price"] %> - <%= @flat[0]["priceCurrency"] %></p>
<p><%= @flat[0]["lat"] %></p>
<p><%= @flat[0]["lng"] %></p>
